@font-face{
    font-family: Vazir;
    font-weight: 400;
    font-style: normal;
    src: url("/assets/font/Vazir.woff") format("woff");
}

@font-face{
    font-family: Vazir;
    font-weight: 700;
    font-style: normal;
    src: url("/assets/font/Vazir-Bold.woff") format("woff");
}

body,
button,
h1,h2,h3{
    font-family: "Vazir";
}